.bullet-list {
  position: absolute;
  top: 0;
  left: 0;
  
  @include up('sm') {
    width: fit-content;
  }

  + .bullet-list {
    margin-top: 1.5rem;
  }

  &--active {
    outline: 3px dashed $secondary;
    outline-offset: 5px;
    background-color: $page-color;

    .bullet-list-item {
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  &__container {
    text-align: left;
    list-style-type: none; 
    margin-bottom: 0.5rem;
  }

  &__add-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      flex: 1;
      justify-content: center;
      padding: 0.5rem 0.8rem;

      &:not(:last-child) {
        border-right-color: grey;
      }

      &:hover,
      &:focus {
        background-color: rgba(0,0,0,0.15);
      }
    }
  }
}

.bullet-list-item {
  background-color: white;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  position: relative;

  + .bullet-list-item {
    margin-top: 0.5rem;
  }

  &__input {
    background-color: transparent;
    font-size: 1rem;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid transparent;
    flex: 1;

    &:focus {
      border-bottom-color: $secondary--dark;
      outline: 0;
    }
  }

  &--removed {
    .bullet-list-item__input {
      text-decoration: line-through;
    }

    .bullet-list-item__content-container {
      position: relative;
      
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: black;
        position: absolute;
        left: 4px;
      }

      &--focused {
        &:after {
          width: 14px;
        }
      }
    }
  }

  &__icon {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--signifier {
      justify-content: flex-end;
      text-decoration: none !important;
      
      i {
        cursor: pointer;
        font-size: 1rem;
      }
    }
  }

  &__content-container {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 100px;
  }

  &__content,
  &__input {
    margin-left: 0.5rem;
    cursor: text;
  }

  &__toolbar {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    position: absolute;
    right: 0;
    bottom: -1rem;
    z-index: 1;
    display: flex;
    box-shadow: 1px 3px 10px #474747;

    .button {
      &:not(:last-child) {
        border-right-color: grey;
      }

      &:hover,
      &:focus {
        background-color: rgba(0,0,0,0.15);
      }

      .material-icons {
        font-size: 1rem;
      }
    }
  }

  &__menu-button {
    border-radius: 100px;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: $secondary--light;
    }
  }
}