.button {
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &--icon {
    padding: 0.4rem;
    
    .material-icons {

    }

    &.active {
    }
  }

  &--sm {
    font-size: 0.8rem;
    .material-icons {
      font-size: 1rem;
    }
  }
}