.button {
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &--block {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &--icon {
    padding: 0.4rem;
    
    .material-icons + span {
      margin-left: 0.5rem;
    }

    &.active {
    }
  }

  &--sm {
    font-size: 0.8rem;
    .material-icons {
      font-size: 1rem;
    }
  }
}