.canvas-container {
  width: 100%;
  flex-grow: 1;
  background-color: grey;
  padding: 0.3rem;
  display: flex;

  @include up('sm') {
    padding: 1rem;
  }
}

// size of a5 is 1748 pixels x 2480 pixels

.canvas {
  background-color: white;
  width: 100%;
  max-width: $canvas-width;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  flex: 1;
}

.drawing-canvas {
  // width: 100%;
  // height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.path-container {
  position: absolute;
  width: fit-content;
}

.tooltip {
  padding: 0.8rem 1rem;
  background-color: rgba(255,255,255,0.8);
  border: 3px dashed $secondary;
}

.multi-draw-overlay {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1rem;
  font-weight: bold;
  background-color: $secondary--light;
  color: $secondary--dark;
  cursor: pointer;
}