.draggable {
  cursor: move;
  position: relative;

  &.active.vdr {
    border-color: $secondary;
    user-select: none;
  }

  &.vdr {
    border: 2px dashed transparent;
  }
  
  .handle {
    border: 2px solid $secondary;
    border-radius: 50px;
    background-color: white;
  }

  &__tools {
    $tools-width: 40px;
    position: absolute;
    right: -$tools-width - 3px;
    top: 10px;
    width: $tools-width;
  }
}