.text-input {
  background-color: transparent;
  font-size: 1rem;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid transparent;

  &:focus {
    border-bottom-color: $primary;
    outline: 0;
  }
}