@mixin button-pulse ($bg-color: rgba(0,0,0,0.1)) {
  position: relative;

  &:after {
    content: '';
    z-index: 199;
    background-color: $bg-color;
    border-radius: 100px;
    transition: 0.2s ease;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
  }

  &:hover:after {
    transform: scale(1);
  }

  .material-icons { 
    z-index: 200;
  }
}

.home.show-pages {
  @include breakpoint-down ('lg') {
    .page-container {
      position: relative;
  
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        content: '';
        z-index: 50;
      }
    }  
  }
}

.pages-icon {
  .material-icons {
    transform: rotate(-90deg) scale(1, -1);
  }
}

.pages-bar {

  $page-br: 10px;

  height: 100%;
  width: 250px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding: $topbar-heading-padding-top 10px 10px;
  border-right: 1px solid #dddddd;

  @include breakpoint-down ('lg') {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    border-color: transparent;
  }

  &__title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .pages-bar__title {
      display: flex;
      align-items: center;
      flex: 1;
      user-select: none;
    }

    h2 {
      flex: 1;
      text-transform: uppercase;
      margin-left: 10px;
      font-size: $large-font-size;
    }

    .pages-bar__btn-close {
      border-radius: 100px;
      background-color: transparent;
      @include button-pulse(#ECECEC);
      
      @include breakpoint-up('lg') {
        display: none;
      }
    }

  }

  &__pages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    list-style: none;

    .pages-bar__page {
      width: 100%;
      padding: 5px 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: $page-br;
      padding-left: 10px;

      span,
      input {
        flex: 1;
        width: inherit;
        max-width: 158px;
        overflow: hidden;
      }

      input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid transparent;
        outline: 0;

        &:focus {
          border-color: $primary;
        }
      }

      .button {
        border-radius: 100px;
        background-color: transparent;
        opacity: 0;
        @include button-pulse;

        .material-icons {
          font-size: 1rem;
        }
      }

      &:hover {
        background-color: $primary-50;
      }

      &:hover,
      &.active {
        .button {
          opacity: 1;
        }
      }

      &.active {
        background-color: $primary-100;
        font-weight: bold;
      }
    }
  }

  &__add-page {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: $page-br;
  }
}