$topbar-tab-content-height: 90px;
$topbar-tab-button-height: 40px;
$topbar-height: $topbar-tab-content-height + $topbar-tab-button-height;

.topbar {
  background-color: $primary;
  color: $text--light;
  z-index: 20;

  .topbar__tab-button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 0 1rem;
    height: $topbar-tab-button-height;
  }

  .topbar__tab-content {
    display: flex;
    align-items: center;

    .topbar__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0 20px 30px;

      &:not(:first-child) {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
          width: 1px;
          height: 70%;
          background-color: $primary-300;
        }
      }

      &-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.95rem;
        padding-bottom: 10px;
      }
    }
  }

  .topbar__button {
    display: inline-flex;
    position: relative;
    &,
    .button {
      flex-direction: column;
      background-color: transparent;
      border-radius: 10px;
      font-size: 0.8rem;
      width: 4rem;
      height: 4rem;
      justify-content: center;
    }
    
    span {
      margin: 0.2rem 0 0;
    }

    &.active {
      background-color: $primary-800;
    }

    &:not(.active):hover {
      background-color: #711897;
    }
  }

  .topbar__tabs {
    display: none;
  }

  // mobile topbar
  @include breakpoint-down('sm') {
    .topbar__tablet-pages {
      display: none;
    }

    .topbar__tabs {
      display: flex;

      .topbar__tab {
        &:not(.topbar__tab--pages) {
          flex: 1;
        }

        &-button {
          width: 100%;
          background-color: transparent;
          justify-content: center;

          &:not(.active) {
            background-color: $primary-500;

            &:hover,
            &:focus {
              background-color: $primary-600;
            }
          }
        }
      }
    }

    .topbar__tab-content {
      width: 100%;
      height: $topbar-tab-content-height;

      .topbar__content {
        padding: 0;
      }

      .topbar__content-title {
        display: none;
      }
    }
  }

  // tablet topbar
  @include breakpoint-up('sm') {
    .topbar__main-container {
      display: flex;
    }
    .topbar__tablet-pages {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-500;
      cursor: pointer;

      .topbar__button {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }


  //desktop topbar
  @include breakpoint-up('lg') {
    .topbar__tab--pages,
    .topbar__tablet-pages {
      display: none;
    }
  }
}