.topbar {
  background-color: $primary;
  color: $text--light;
  display: flex;
  align-items: center;

  .button {
    color: $primary-100;
    background-color: transparent;

    &:hover,
    &:focus,
    &.active {
      color: $text--light;
    }

    &:focus,
    &.active {
      background-color: $primary-800;
    }
  }

  &__buttons {
    max-width: $canvas-width;
    text-align: left;
    margin: 0 auto;
    flex: 1;
  }
}