@mixin up($size) {
  @if $size == 'sm' {
    @media (min-width: 475px) {
      @content;
    }
  }
  @else if $size == 'md' {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $size == 'lg' {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @else {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

html {
  background-color: coral;
}

*, *::before, *::after {
  font-family: $body-font;
}

html,
body,
#app,
.home {
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
}